#nation
DataApi.Proxy=DataApi:tcp -h 10.62.89.55 -p 1888
#bj
#DataApi.Proxy=DataApi:tcp -h 10.224.89.29 -p 1888
Ice.Warn.Connections=1
Ice.Trace.Protocol=0
#Ice.Plugin.MyLogger.java=apiaccess.MyLoggerPluginFactoryI
#MessageSizeMax  20MB, default 1MB
Ice.MessageSizeMax=‭41,943,040‬

#//(1)服务地址ip
music_server=10.62.90.120
#//(2)服务端口port
music_port=80
#//(3)连接超时,超时自动断开unit is s
music_connTimeout=3000
#//(4)数据读取超时设置,请求在设置的时间内未还回结果,将失败,unit is s
music_readTimeout=30000
#//(5)defaultServiceId sod,默认服务节点
music_ServiceId=NMIC_MUSIC_CMADAAS
#//(6)是否为存储挂载方式，0文件将上传到服务端，1文件通过本地挂载盘写到服务端
music_store_backstage=0
#//(7)如果为true，必须填写挂载目录对应位置
music_local_mount=F://CIMISS
#//(8)如果为true，服务端挂载目录位置
music_server_mount=/CIMISS